<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Skracacz linków</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
        <input id="url" name="url" placeholder="URL" required type="url">
	    <button type="submit" class="short" name="submit">Skróć</button><br/>
		<div class="center"><h3 class="information"></h3> <a href="" class="link"></a></div>
</div>&nbsp;
<p>Wykonanie: <a href="https://ivall.pl">ivall</a></p>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
</body>
</html>